<div id="title">
	<h1>{{title}}</h1>

	<h2>{{subTitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet hendrerit nulla, id accumsan nisi congue ut. Pellentesque placerat lorem vitae augue commodo ultrices. Pellentesque mattis nisl mattis rhoncus porta. Sed eu congue urna, in lacinia massa. Etiam pharetra magna velit, placerat tempor nulla venenatis sed. Sed quis diam vulputate, tincidunt justo eu, pretium sem. Aliquam erat volutpat. Sed sit amet sapien eget odio porttitor vehicula. Aliquam quis dolor ut ipsum ullamcorper egestas nec eget magna. Nullam ut aliquet elit. Aliquam vitae varius augue, in lobortis arcu. Nam eget risus in elit rhoncus egestas. Mauris iaculis blandit tortor nec lobortis. Nam rutrum ligula vel auctor ultricies. Vestibulum ultrices magna non velit sollicitudin, non convallis ante viverra. 
	</p>
</article>