<div *ngIf="project" class="container">
	<h2>{{title}}</h2>

	<div class="success massage" *ngIf="status == 'success'">
		Proyecto guardado correctamente, puedes verlo <a [routerLink]="['/detalle', saveProject]">aquí</a>.
	</div>

	<div class="failed massage" *ngIf="status == 'failed'">
		El proyecto no ha sido guardado.
	</div>

	<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
		<p>
			<label for="name">Nombre: </label>
			<input type="text" id="name" name="name" #name="ngModel"[(ngModel)] ="project.name" required>
			<span class="form-error" *ngIf="name.touched && !name.valid">
				El nombre es obligatorio
			</span>
		</p>
		<p>
			<label for="description">Descripción: </label>
			<textarea id="description" name="description" #description="ngModel"[(ngModel)] ="project.description" required></textarea>
			<span class="form-error" *ngIf="description.touched && !description.valid">
				La descripción es obligatoria
			</span>
		</p>
		<p>
			<label for="category">Categoría: </label>
			<input type="text" id="category" name="category" #category="ngModel"[(ngModel)] ="project.category" required>
			<span class="form-error" *ngIf="category.touched && !category.valid">
				La categoria es obligatoria
			</span>
		</p>
		<p>
			<label for="year">Año: </label>
			<input type="number" id="year" name="year" #year="ngModel"[(ngModel)] ="project.year">
		</p>
		<p>
			<label for="langs">Lenguajes utilizados: </label>
			<input type="text" id="langs" name="langs" #langs="ngModel" [(ngModel)] ="project.langs" required>
			<span class="form-error" *ngIf="langs.touched && !langs.valid">
				Los lenguajes son obligatorios
			</span>
		</p>
		<p>
			<label for="image">Imagen de proyecto</label>
			<span class="image" *ngIf="project.image" style="float: none;">
				<img src="{{url+'get-image/'+project.image}}" *ngIf="project.image" style="width: 100px;" >
			</span><br>
			<input type="file" name="image" id="image" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
		</p>
		<input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
	</form>
</div>